[data-md-color-scheme="transmogrifier"] {
    --md-primary-fg-color:        #2e2e2e;
    --md-primary-fg-color--light: #f7f9fc;
    --md-primary-fg-color--dark:  #2e2e2e;
    --md-default-bg-color: #2d2c29;
  }

  